/* @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700;800;900&family=Epilogue:wght@300;500;700;900&family=Happy+Monkey&family=Michroma&family=Nanum+Pen+Script&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
/*  ------ Fonts ------ */
/* @font-face{
    font-family : SF-BLACK;
    src : url(./Fonts/SF-Pro-Display-Black.otf);
}

@font-face{
    font-family : SF-MEDIUM;
    src : url(./Fonts/SF-Pro-Display-Medium.otf);
}

@font-face{
    font-family : SF-REGULAR;
    src : url(./Fonts/SF-Pro-Display-Regular.otf);
} */







*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

body{
    background: #121212;
}

.main{
    width: 50vw;
    margin: auto;
}

header{
    height: 100vh;
}


nav{
    padding: 1.5rem;
    height: 12vh;
    display: flex;
    justify-content: space-between;
}

.main__hello{
    color: white;
    font-size: 1rem;
}

.main__web{
    background-image: linear-gradient(125deg, #f5ff35, #ffb800e0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
    font-weight: 700;
    border-bottom: 2px dashed white;
}

.primary-navbar{
    display: flex;
}

.nav__logo{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 700;
    /* font-family: SF-BLACK; */
    background-image: linear-gradient(125deg, #f5ff35, #ffb800e0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.primary-navbar .navlists{
    list-style: none;
    margin-left: 2.5rem;
    text-decoration: none;
}

.navlist{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
}

.nav-toggle{
    display: none;
}

.main__header{
    text-align: left;
    padding-top: 8rem ;
    padding-left: 5rem;
    font-size: 1.5rem;
}


.active{
    font-weight: 700;
    background-image: linear-gradient(125deg, #f5ff35, #ffb800e0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__position{
    width: 500px;
    border: 1px solid rgba(90, 90, 90, 0.491);
    text-align: center;
    margin: 1rem 0;
    border-radius: 10px;

    background-image: linear-gradient(125deg, #f5ff35, #ffb800e0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
/* 
    background-image: linear-gradient(359deg, #8a00ff, #ffffffe0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.scroll-down{
    text-decoration: none;
}

.scroll-down .cross-svg{
    border: 1px solid rgba(90, 90, 90, 0.491);
    padding: 0.2rem;
    width: 1.3rem;
    display: block;
    margin: auto;
    margin-top: 10rem;
    border-radius: 5px;
}

.sr-only{
    visibility: hidden;
}




.section__title{
    font-weight: 500;
}


.footer__title{
    text-align: center;
    background-image: linear-gradient(125deg, #f5ff35, #ffb800e0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 3rem;
}

.footer__social-links{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    list-style: none;
}



.footer-social-link{
    list-style: none;
    text-decoration: none;
}

.social_logo{
    width: 25px;
    height: 25px;
}

.social_logo:hover{
    fill: #f5ff35;
}










/* RESPONSIVENESS */
@media (max-width:480px){
    .main{
        width: 100vw;
    }

    nav{
        width: 100%;
        padding: 3rem 1.2rem;
        position: fixed;
        background: #1212127a;
        backdrop-filter: blur(0.7rem); 
        align-items: center;       
    }

    .primary-navbar{
        flex-direction: column;
        align-items: flex-start ;
        width: 50%;
        height: min-content;
        position: fixed;
        inset: 80% 4% 5% 45% ;

        border: 1px solid rgba(90, 90, 90, 0.491);

        background: rgb(239, 216, 255);
        border-radius: 10px;
        padding: 1.5rem 0.5rem;
        transform: translateX(1000%);
        transition: transform 350ms ease-in-out;
        font-size: 1.2rem;
        color: rgb(255, 255, 255);
        background: #121212;

    }
    
    .primary-navbar[data-visible='true']{
        transform: translateX(0%);   
    }

    .primary-navbar .navlists{
        padding: 1rem;
    }

    .navlist{
        text-align: center;
        color: rgb(255, 255, 255);
    }

    /* Navbar Fonts */
    .nav__logo{
        font-size: 2rem;
    }


    /* Navbar Toggle */
    .nav-toggle{
        display: block;
        position: fixed;
        width: 2.1rem;
        aspect-ratio: 1;
        background: url('SVGs/hamburger.svg');
        background-repeat: no-repeat;
        top: 2.3rem ;
        right: 1.2rem;
        z-index: 9999;
        border: none;
    }


    .nav-toggle[aria-expanded='true']{
        background: url('SVGs/cross.svg');
        top: 2.3rem ;
    }


    .main__header{
        padding-top: 12rem ;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1.2rem;
    }

    .main__position{
        box-sizing: content-box;
        width: 305px;
        text-align: center;
        margin: 1rem 0;
        font-size: 1.7rem;
        padding: 10px 10px;
    }




    .section{
        margin: 2rem 0.8rem;
        padding: 4rem 1.5rem;
        font-size: 0.9rem;
        background:inherit;
        border-radius: 10px;
        border: 1px solid rgba(90, 90, 90, 0.491);
    }

    .section__title{
        text-align: center;
        margin-bottom: 1.5rem;
        background-image: linear-gradient(125deg, #f5ff35, #ffb800e0);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 900;
    }

    .section p{
        font-size: 0.9rem;
        color: white;
    }

    .section__lists{
        display: flex;
        justify-content: space-between;
    }

    .section__header{
        margin-top: 1rem;
        margin-bottom: 0.2rem;
        font-size: 0.9rem;
        color: white;
    }

    .section__lists li{
        list-style: none;
        font-size: 0.8rem;
        color: rgb(158, 158, 158);
    }

    .section__lists li:hover{
        background-image: linear-gradient(125deg, #f5ff35, #ffb800e0);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: 700;
        transition: all ease-in;
    }
    


    /* Projects */
  
    .section__lists li a{
        text-decoration: none;
        font-size: 0.8rem;
        color: rgb(158, 158, 158);
    }
    
    .more-projects-btn{
        display: inline-block;
        color: #121212;
        margin-top: 20px;
        background: white;
        padding: 8px 14px;
        border-radius: 4.6px;
        text-decoration: none;
        font-weight: 600;
    }
    
    .more-projects-btn:hover, .more-projects-btn:active{
        background: linear-gradient(125deg, #f5ff35, #ffb800e0);
        /* background: linear-gradient(125deg, #8a00ff, #ffffffe0); */

    }
    
}