@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@700;800;900&family=Epilogue:wght@300;500;700;900&family=Happy+Monkey&family=Michroma&family=Nanum+Pen+Script&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;

}


.main{
    width: 50vw;
    margin: auto;
}

header{
    height: 100vh;
}


nav{
    padding: 1.5rem;
    height: 12vh;
    display: flex;
    justify-content: space-between;
}

.primary-navbar{
    display: flex;
}

.nav__logo{
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: bold;
    color: rgb(0, 10, 70);
}

.primary-navbar .navlists{
    list-style: none;
    margin-left: 2.5rem;
    text-decoration: none;
}

.navlist{
    text-decoration: none;
    font-size: 1.1rem;
}

.nav-toggle{
    display: none;
}

.main__header{
    text-align: left;
    padding-top: 8rem ;
    padding-left: 5rem;
    font-size: 1.5rem;
}

.main__position{
    width: 500px;
    border: 2px solid white;
    text-align: center;
    margin: 1rem 0;
    color: rgb(0, 0, 70);
    background-color: rgb(255, 253, 209);
    border-radius: 5px;
    /* padding: 30px 0; */

    -webkit-box-shadow: 5px 4px 11px -6px rgba(145,145,145,1);
    -moz-box-shadow: 5px 4px 11px -6px rgba(145,145,145,1);
    box-shadow: 5px 4px 11px -6px rgba(145,145,145,1);
}


.scroll-down img{
    width: 1.3rem;
    display: block;
    margin: auto;
    margin-top: 10rem;
}

.sr-only{
    visibility: hidden;
}


@media (max-width:480px){
    .main{
        width: 100vw;
    }

    nav{
        width: 100%;
        padding: 3rem 1.2rem;
        position: fixed;
        background-color: rgb(255, 255, 255, 0.7);
        backdrop-filter: blur(0.3rem); 
        align-items: center;       
    }

    .primary-navbar{
        flex-direction: column;
        align-items: flex-start ;
        width: 50%;
        height: min-content;
        position: fixed;
        inset: 80% 4% 5% 45% ;
        background: rgb(239, 216, 255);
        border-radius: 10px;
        padding: 1.5rem 0.5rem;
        border: 2px solid white;
        transform: translateX(1000%);
        transition: transform 350ms ease-in-out;
        font-size: 1.2rem;
        color: rgb(0, 0, 70);
    
        
        -webkit-box-shadow: 5px 4px 11px -6px rgba(145,145,145,1);
        -moz-box-shadow: 5px 4px 11px -6px rgba(145,145,145,1);
        box-shadow: 5px 4px 11px -6px rgba(145,145,145,1);
    }
    
    .primary-navbar[data-visible='true']{
        transform: translateX(0%);   
    }

    .primary-navbar .navlists{
        padding: 1rem;
    }

    .navlist{
        text-align: center;
        color: rgb(0, 10, 70);
    }

    /* Navbar Fonts */
    .nav__logo{
        font-size: 2rem;
    }

    /* .navlist{
        font-size: 1.3rem;
    } */

    /* Navbar Toggle */
    .nav-toggle{
        display: block;
        position: fixed;
        width: 2.1rem;
        aspect-ratio: 1;
        background: url('SVGs/hamburger.svg');
        top: 2rem ;
        right: 1.2rem;
        z-index: 9999;
        border: none;
    }
    
    .nav-toggle[aria-expanded='true']{
        background: url('SVGs/cross.svg');
        width: 1.9rem;
        top: 2rem ;
    }


    .main__header{
        padding-top: 12rem ;
        padding-left: 2rem;
        padding-right: 2rem;
        font-size: 1.2rem;
    }

    .main__position{
        box-sizing: content-box;
        width: 305px;
        text-align: left;
        margin: 1rem 0;
        font-size: 2rem;
        padding: 10px 10px;
    }
    

}